head
  meta(charset='utf-8')
  title user Sign Up
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") 
            h4#myModalLabel.modal-title
              |Sign Up for New User
          .modal-body
            form(role='form' method='POST' action='http://localhost:9000/user/signup')
              div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='name' name='full_name' ,required)
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com' name='email',required)
              button.btn.btn-primary(type="submit", name="asdf") Submit
              button.btn.btn-default(type="button", data-dismiss="modal")